<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="rioko.sampler.emf-splitter.open-with"
            description="SAMPLER command for Open-With in EMF-Splitter which opens the Directory Drawer"
            id="rioko.sampler.emf-splitter.open-with.directory"
            name="Open SAMPLER Directory">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="rioko.sampler.emf_splitter.directorydrawer.SamplerDirectoryOpenWithHandler"
            commandId="rioko.sampler.emf-splitter.open-with.directory">
      </handler>
   </extension>
   <extension
         point="org.mondo.generate.modular.project.OpenWithExtension">
      <client
            class="rioko.sampler.emf_splitter.directorydrawer.SamplerDirectoryOpenWithHandler"
            commandId="rioko.sampler.emf-splitter.open-with.directory">
      </client>
   </extension>
   <extension
         point="rioko.drawmodels.editor.listeners">
      <mouseListener
            class="rioko.sampler.emf_splitter.directorydrawer.listener.OpenModelFragmentMouseListener"
            id="rioko.sampler.emf_splitter.directorydrawer.listeners.mouse.openFragment"
            name="Open Model Fragment">
      </mouseListener>
   </extension>
   <extension
         point="rioko.graphabstraction.searches">
      <search
            class="rioko.sampler.emf_splitter.directorydrawer.search.EMFSplitterRepeatedFilter"
            id="rioko.sampler.emf-splitter.directoryDrawer.filter.repeated"
            name="Repeated EMF-Splitter Files">
      </search>
      <search
            class="rioko.sampler.emf_splitter.directorydrawer.search.EMFSplitterSystemFilter"
            id="rioko.sampler.emf-splitter.directoryDrawer.filter.system"
            name="EMF-Splitter System Files">
      </search>
      <search
            class="rioko.sampler.emf_splitter.directorydrawer.search.FileNameRegexFilter"
            id="rioko.sampler.emf-splitter.directoryDrawer.filter.regex"
            name="Regex File Name">
      </search>
   </extension>
   <extension
         point="rioko.graphabstraction.configurations">
      <string
            class="rioko.sampler.emf_splitter.directorydrawer.configuration.RegexConfiguration"
            id="rioko.sampler.emf-splitter.directoryDrawer.conf.regex"
            name="Regex Configuration">
      </string>
   </extension>
   <extension
         point="rioko.graphabstraction.steps">
      <filter
            class="rioko.sampler.emf_splitter.directorydrawer.step.FilterEMFSplitterRepeated"
            id="rioko.sampler.emf-splitter.directoryDrawer.step.repeated"
            name="EMF-Splitter Repeated Files Filter">
      </filter>
   </extension>

</plugin>
