<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="rioko.graphabstraction.steps">
      <global
            class="rioko.graphabstraction.display.global.BiClusterNestedBuilder"
            id="rioko.spectral.globals.biCluster"
            name="Bi-Clustering Step">
      </global>
      <global
            class="rioko.graphabstraction.display.global.HierarchicalClusterBuilder"
            id="rioko.spectral.globals.hierarchicalCluster"
            name="Hierarchical-Clustering Step">
      </global>
      <global
            class="rioko.graphabstraction.display.global.IterativeClusterBuilder"
            id="rioko.spectral.globals.iterativeCluster"
            name="Iterative-Clustering Step">
      </global>
   </extension>
   <extension
         point="rioko.graphabstraction.abstractionAlgorithms">
      <algorithm
            class="rioko.graphabstraction.algorithms.BiClusterAlgorithm"
            id="rioko.spectral.algorithms.biClusteringAlgorithm"
            name="Bi-Clustering Algorithm">
      </algorithm>
   </extension>
   <extension
         point="rioko.graphabstraction.configurations">
      <int
            class="rioko.graphabstraction.configurations.MaxClusterConfiguration"
            id="rioko.spectral.configurations.maxClustersConfiguration"
            name="maximun Number of Clusters">
      </int>
   </extension>

</plugin>
